*{
  margin: 0;
  padding: 0;
}

.body1{
   
    color: white;
    overflow: hidden;
    background: url(https://media.tenor.com/TcJPgY0dm18AAAAd/gym-time-exercise.gif);
    /* background-repeat: no-repeat; */
    /* width: 100%  !important; */
    /* background-size: cover; */
    /* height: 100% !important; */
     /* Make image center */
     background-position: center center;
 
     /* Make image fixed */
     background-attachment: fixed;

     /* Not repeat images */
     background-repeat: no-repeat;
     min-height: 100vh;
  

     /* Set background size auto */
     background-size: cover;
    }
.left{
    display: inline-block;
    position: absolute;
   top: 20px;
   left : 60px;}
 .left img{
    width: 150px;
    filter:invert(100%);
 }   
/* .mid{
    width: 55%;
    margin:12px auto;
    display: block;
    
    
}  */

.right{
   position: absolute;
   top: 20px;
   right: 60px;
}
.btn1{
  color: black;
  background-color: burlywood;
  border-radius: 24px;
  border: 5px;
  cursor: pointer;
  text-decoration-color: black;
  /* width: 22vw; */
 
}
.btn{
    color: black;
    background-color: burlywood;
    border-radius: 24px;
    border: 5px;
    cursor: pointer;
    text-decoration-color: black;
    width: 22vw;
   
}
.navbar{
    display: flex;
    margin-left: 280px;
    gap: 5px;
}
.navbar li{
    padding-left: 10px;
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: darkorange;
    text-decoration: none;
    padding:34px 33px;
}
.navbar li a:hover {
    color: aqua;
    text-decoration: underline;
}
.container{
    /* border: 2px solid green; */
    /* margin-top: 15rem !important; */
    /* padding-right: 20px; */
    /* margin-left: 970px ; */
    opacity: 0.5;
background-color: aliceblue;
    margin-left: 65%;
    margin-right: 5vw;
    margin-top: 150px;
    /* width: 28%; */
    /* display: flex !important;
    justify-content: center !important;
    flex-direction: column !important; */
    /* margin-left: 0px !important;
    margin-top: 0px !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    /* border: 10px; */
    font-size: 50px;

}
.forms{
  /* width: 100vw; */
  width: 30%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-left: 4vw;
  /* background-color: whitesmoke; */
}
.form-group{
     display: block;
     margin-top: 20px;
     padding: 10px;
     border:2px solid black;
     /* margin: auto; */
        /* width: 200px; */
        width: 20vw;
        font-size: 18px;
        border-radius: 6px;
        color: black

}
.container h1{
  font-size:  25px;
  width: 90%;
  margin-left: 10px;
  text-align: center;
  color: black;
  
}
.container button{
  margin-top: 20px;
  margin-bottom: 40px;
  /* margin: auto; */
  display: block;
  
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding: 10px;
  color: black;
}


@media (max-width: 600px){

  .container{
    width: 90vw;
    /* background-color: aquamarine; */
    /* margin: 0; */
    margin-top: 200px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .forms{
    width: 100%;
    
  }
  .form-group{
    width: 80%;
  }
  .container button{
    width: 80vw;
  }
  .hide{
    display: none;
  }
  
}
